{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if form.instance.pk %}Edit{% else %}Add{% endif %} Transaction
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">
                        {% if form.instance.pk %}
                        <i class="fas fa-edit me-2"></i>Edit Transaction
                        {% else %}
                        <i class="fas fa-plus me-2"></i>Add Transaction
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.date|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.type|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.amount|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.category|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.payment_method|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.reference_number|as_crispy_field }}
                            </div>
                        </div>

                        {{ form.description|as_crispy_field }}

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'finance:transaction_list' %}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left me-2"></i>Back
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-2"></i>Save Transaction
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
